<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpleapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="Good Finance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleApp">
        <activity android:name=".AddTaskActivity"></activity>
        <activity android:name=".TaskActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".AddSpend" />
        <activity android:name=".LoginTab" />
        <activity android:name=".IntroduceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SimpleApp.NoActionBar" />
    </application>

</manifest>